<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

<xacro:macro name="object_inertial" params="width length height mass *origin">
  <inertial>
    <!-- mass -->
    <mass value="${mass}" />

    <!-- optional origin block, if provided -->
    <xacro:insert_block name="origin"/>

    <!-- inertia about center of mass for a box:
         Ixx = 1/12 m (y² + z²)
         Iyy = 1/12 m (x² + z²)
         Izz = 1/12 m (x² + y²)
    -->
    <inertia
      ixx="${(1.0/12.0) * mass * (length*length + height*height)}"
      ixy="0.0" ixz="0.0"
      iyy="${(1.0/12.0) * mass * (width*width  + height*height)}"
      iyz="0.0"
      izz="${(1.0/12.0) * mass * (width*width  + length*length)}" />
  </inertial>
</xacro:macro>

</robot>